*{
    padding: 0;
    margin: 0;
    
    background: #000002;
}

.front {
    background: url(/Images/1251472.jpg);
    width: 100%;
    height: 1024px;
}
.navbar{
    color:white;
   margin-left: 495px;
    
   
   
    
}
.navbar li{
    display: inline-block;
    padding: 45px;
    font-size: 27px;
    line-height: 33px;
    line-height: 100%;
    fill: solid;
    font-family: inter;
    font-style: black;
    
}


.image img{
 position: absolute;
width: 566px;
height: 509px;
left: 83px;
top: 1244px;

border-radius: 15px;  
}

.about_bbs{
    position: absolute;
width: 691px;
height: 545px;
left: 701px;
top: 1244px;

font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;
}
