*{
    padding: 0;
    margin: 0;
    
}

.front {
    background: url(/Images/1251472.jpg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#head_font{
    /* Beat_Breakers */

position: absolute;
width: 782px;
height: 100vh;
margin: 520px 500px;
font-family: 'Titan One'; 
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 110px;
/* identical to box height */
text-shadow: 10px 10px 20px red, 0 0 1em white, 0 0 0.2em white;

color: #E1C04B;


}
.navbar{
    color:white;
   margin-left: 25%;
    background: none;
}

.navbar li{
    display: inline-block;
    padding: 3%;
    font-size: 27px;
    line-height: 33px;
    line-height: 100%;
    fill: solid;
    font-family: inter;
    font-style: black;
    
}


.image img{
 position: absolute;
width: 566px;
height: 509px;
left: 83px;
top: 1050px;
border-radius: 15px;  
}

.about_bbs{
    position: absolute;
width: 100vh;
height: 100vh;
left: 701px;
top: 1100px;

font-family: 'Arimo';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;
}

.about {
    width: 100%;
height: 110vh;

    background: #000002;
}

.head_about {
    

    /* About us */

position: absolute;
width: 287px;
height: 93px;

top: 115%;

font-family: 'Titan One';
font-style: normal;
font-weight: 1000;
font-size: 55px;
left: 45%;
line-height: 100px;

color: #E3D399;

margin: auto;
text-decoration: underline;
}